{% extends 'assets/base.html' %}
{% block content %}

<div id="intro" class="container py-5">
  <h2 class="text-center mb-4">Sobre Nós</h2>
  <div class="row">
    <div class="col-md-6">
      <h3>Quem Somos</h3>
      <p>
        Somos uma empresa especializada em aluguel de carros que está no mercado há mais de 10 anos.
        Nosso objetivo é fornecer aos nossos clientes uma ampla seleção de veículos de qualidade para atender às suas necessidades de locação.
        Com uma frota diversificada e preços competitivos, estamos comprometidos em tornar sua experiência de aluguel de carros simples, conveniente e agradável.
      </p>
    </div>
    <div class="col-md-6">
      <h3>Nossa Missão</h3>
      <p>
        Nossa missão é oferecer serviços de aluguel de carros de qualidade, proporcionando aos nossos clientes uma experiência confiável e satisfatória.
        Valorizamos a transparência, a honestidade e o atendimento excepcional ao cliente, garantindo que cada cliente tenha uma experiência positiva e memorável ao alugar um carro conosco.
      </p>
    </div>
  </div>
</div>
	<style>
	.text-center{
		margin-top: 50px;
	}
	.col-md-6{
		margin-top: 20px;
	}
	body{
		background: #cddad7;
	}
	</style>
{% endblock %}
