{% extends 'assets/static/base.html' %}
{% block content %}
{% load static %}
<div class="container py-5">
  <h2 class="text-center">Minhas Reservas</h2>

    {% if messages %}
	    <ul class="messages">
	        {% for message in messages %}
	            {% if message.tags %}
		            <p class="message">{{ message }}</p>
	            {% endif %}
	        {% endfor %}
	    </ul>
	{% endif %}

  {% if reservas %}
    <div class="table-responsive">
      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th>Marca e Modelo</th>
            <th>Imagem do Carro</th>
            <th>Data de Locação</th>
            <th>Hora de Locação</th>
            <th>Data de Devolução</th>
            <th>Hora de Devolução</th>
            <th>KM Atual do Veículo</th>
            <th>Limite de KM/dia</th>
            <th>Valor de Locação (R$)</th>
            <th>Status de Locação</th>
            <th>Cancelar Reserva</th>
          </tr>
        </thead>
        <tbody>
          {% for reserva in reservas %}
          <tr>
            <td><strong>{{ reserva.automovel.modelo.marca.descricao }} - {{ reserva.automovel.modelo.descricao }}</strong></td>
            <td>
              {% if reserva.automovel.imagem %}
                <img class="car-img" src="{{ reserva.automovel.imagem.url }}" alt="Imagem do automóvel">
              {% else %}
                <img class="car-img" src="{% static 'imagens/error.png' %}" alt="Imagem indisponível">
              {% endif %}
            </td>
            <td>{{ reserva.data_locacao }}</td>
            <td>{{ reserva.hora_locacao }}</td>
            <td>{{ reserva.data_devolucao }}</td>
            <td>{{ reserva.hora_devolucao }}</td>
            <td>{{ reserva.automovel.quilometragem }}</td>
            <td>{{ reserva.limite_km_dia }}</td>
            <td>R$ {{ reserva.valor_locacao }}</td>
            <td>{{ reserva.status }}</td>
            <td><a class="btn btn-outline-danger" href="{% url 'cancelar_reserva' reserva.automovel.id %}">Cancelar</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <h5 id="intro" class="mt-4 text-center">Você ainda não fez nenhuma reserva.</h5>
  {% endif %}
  <a class="btn btn-secondary" href="{% url 'home' %}">Voltar</a>
</div>

	<style>
	th{
		max-width: 110px;
		max-height: 30px;
	}
	td{
		max-width: 100px;
		max-height: 10px;
	}

	.car-img {
	  max-width: 80px; /* Defina o tamanho desejado para a imagem */
	  max-height: 60px;
	}
	.message {
	    background-color: #007bff;
		padding: 10px;
		border-radius: 5px;
	    color: #fff;
		font-size: 16px;
		text-align: center;
	}

	  @media (max-width: 576px) {
      .message {
	      align-items: center;
          padding: 10px;
	      text-align: center;
      }
  }
	#intro {
		height: 100vh;
	}

	      /* Height for devices larger than 576px */
	@media (min-width: 992px) {
		#intro {
			margin-top: -58.59px;
		}
	}

	</style>

{% endblock %}
