{% extends 'assets/base.html' %}
{% load static %}
{% block content %}
<!-- Detalhes do veículo -->
<div id="intro" class="container py-5">
  <div id="abaixar" class="row">
    <div class="col-md-6 img-card">
        {% if carros.imagem == "" or carros.imagem == null %}
            <img class="card-img-top car-imag" src="{% static 'imagens/error.png' %}" alt="Carro 1">
        {% else %}
            <img class="card-img-top" src="{{ carros.imagem.url }}" alt="Carro 1">
        {% endif %}
    </div>
  {% if carros.disponivel == True %}
    <div class="col-md-6">
	  <h2>{{ carros.modelo.marca.descricao }} - {{ carros.modelo.descricao }}</h2>
      <p><strong>Tipo de Combustível:</strong> {{ carros.tipo_combustivel }}</p>
      <p><strong>Cor:</strong> {{ carros.cor }}</p>
	  <p><strong>Ano de fabricação:</strong> {{ carros.ano_fabricacao }}</p>
      <p><strong>Quilometragem:</strong> {{ carros.quilometragem }} km</p>
      <p><strong>Número de Portas:</strong> {{ carros.nr_portas }}</p>
      <p><strong>Placa:</strong> {{ carros.placa }}</p>
	  <p><strong>Número de Cassi:</strong> {{ carros.chassi }}</p>
	  <p><strong>Renavan:</strong> {{ carros.renavam }}</p>
      <p><strong>Valor de Locação:</strong> R$ {{ carros.valor_locacao }} dia</p>
      <a href="{% url 'fazer_reserva' carros.id %}" class="btn btn-primary">Fazer Reserva</a>
	  <a href="/edit/automovel/{{ carros.id }}" class="btn btn-success">Editar Carro</a>
	  <a href="/remove/automovel/{{ carros.id }}" class="btn btn-danger">Deletar Carro</a>
	  <a class="btn btn-secondary" href="{% url 'home' %}">Voltar</a>
    </div>
{% else %}
      <div class="col-md-6">
	  <h2>{{ carros.modelo.marca.descricao }} - {{ carros.modelo.descricao }}</h2>
      <p><strong>Tipo de Combustível:</strong> {{ carros.tipo_combustivel }}</p>
      <p><strong>Cor:</strong> {{ carros.cor }}</p>
	  <p><strong>Ano de fabricação:</strong> {{ carros.ano_fabricacao }}</p>
      <p><strong>Quilometragem:</strong> {{ carros.quilometragem }} km</p>
      <p><strong>Número de Portas:</strong> {{ carros.nr_portas }}</p>
      <p><strong>Placa:</strong> {{ carros.placa }}</p>
	  <p><strong>Número de Cassi:</strong> {{ carros.chassi }}</p>
	  <p><strong>Renavan:</strong> {{ carros.renavam }}</p>
      <p><strong>Valor de Locação:</strong> R$ {{ carros.valor_locacao }} dia</p>
		{% for loc in locacao %}
	        <p><strong>Ficará Disponivel em:</strong> {{ loc.data_devolucao }} as {{ loc.hora_devolucao }}</p>
	    {% endfor %}
	  <a href="/edit/automovel/{{ carros.id }}" class="btn btn-success">Editar Carro</a>
	  <a href="/remove/automovel/{{ carros.id }}" class="btn btn-danger">Deletar Carro</a>
	  <a class="btn btn-secondary" href="{% url 'home' %}">Voltar</a>
    </div>
{% endif %}
  </div>
</div>


	<style>
		#intro {
	        height: 100vh;
		}

		#abaixar{
			padding-top: 80px;
		}

		@media (max-width: 576px) {
	      #abaixar {
		      padding-top: 1px;
	      }

      }

	      /* Height for devices larger than 576px */
		@media (min-width: 992px) {
	        #intro {
	          margin-top: -58.59px;
	        }
		}

		body{
			background: #cddad7;
		}

		img{
            max-width: 550px;
            height: 300px;
		}
	</style>
{% endblock %}
