{% extends 'assets/static/base.html' %}

{% block content %}
{% for message in messages %}
    {% if message.tags %}
        <p class="message mt-4">{{ message }}</p>
    {% endif %}
{% endfor %}

<div class="container py-5">
  <h2 class="text-center">Pedidos de Reserva dos Clientes</h2>

  <!-- Formulário de busca -->
  <form method="get" class="form-inline justify-content-center mt-4">
    <div class="form-group col-md-8 offset-md-2">
      <input type="text" name="search" class="form-control form-control-lg mr-sm-2 flex-grow-1" placeholder="Cliente ou Chassi">
    </div>
    <button type="submit" class="btn btn-primary ml-2">Buscar</button>
  </form>

  {% if reservas %}
  <ul id="intro" class="list-group mt-5">
    {% for reserva in reservas %}
      <li class="list-group-item">
        <a id="edit" href="{% url 'editar_reserva' reserva.id %}">{{ reserva.cliente.nome }} Carro: {{ reserva.automovel.modelo.marca.descricao }} - {{ reserva.automovel.modelo.descricao }}/{{ reserva.automovel.ano_fabricacao }} Chassi: {{ reserva.automovel.chassi }}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
  <h5 id="intro" class="mt-5">Sem solicitações de Reservas no momento.</h5>
  {% endif %}
  <a class="btn btn-secondary" href="{% url 'home' %}">Voltar</a>
</div>

	<style>
	.list-group-item{
		background: #32373b;
	}
		#edit{
			color: white;
			font-size: 20px;
			text-decoration: none;
		}
		#edit:hover{
			transition: 0.2s;
			color: #e8dede;
		}

		#intro {
	        height: 100vh;
		}

	      /* Height for devices larger than 576px */
		@media (min-width: 992px) {
	        #intro {
	          margin-top: -58.59px;
	        }
		}

	.message {
	    background-color: #007bff;
		padding: 10px;
		border-radius: 5px;
	    color: #fff;
		font-size: 16px;
		text-align: center;
	}

	  @media (max-width: 576px) {
	      .message {
		      align-items: center;
	          padding: 10px;
		      text-align: center;
	      }
      }
	</style>
{% endblock %}

