{% extends 'assets/base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container py-5">

  <h2><strong>Editar Reserva do:</strong> {{ reserva.automovel.modelo.marca.descricao }} - {{ reserva.automovel.modelo.descricao}} / {{ reserva.automovel.ano_fabricacao }}</h2>
  <h4><strong>Cliente:</strong> {{ reserva.cliente.first_name }} {{ reserva.cliente.last_name }}</h4>
	<h5><strong>Status Atual:</strong> {{ reserva.status }}</h5>
  <form class="mt-4" method="post">
    {% csrf_token %}
	{% bootstrap_form form form_class='small-form' %}
    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    <a href="{% url 'listar_reservas_admin' %}" class="btn btn-secondary">Cancelar</a>
  </form>

</div>
	<style>
	body{
		background: #cddad7;
	}
	</style>
{% endblock %}


{#	<a href="/remover/reserva/{{ reserva.id }}" class="btn btn-outline-danger">Deletar Reserva</a>#}