{% extends 'assets/base.html' %}
{% block content %}

<div id="intro" class="container py-5 mt-4">
  <div class="card p-5">
    <h4 class="mb-4">Reserva do: {{reserva.automovel.modelo.marca.descricao}} - {{reserva.automovel.modelo.descricao}} / {{ reserva.automovel.ano_fabricacao }}</h4>
    <h5 class="mb-4">Tem certeza que deseja deletar esta Reserva?</h5>
    <div class="d-flex justify-content-between">
    <a class="btn btn-outline-danger" href="{% url 'confirmar_remover_reserva' reserva.id %}">Sim</a>
    <a class="btn btn-outline-primary" href="{% url 'listar_reservas_admin' %}">Nao</a>
    </div>
  </div>
</div>

{% endblock %}

